SMS_Web_client/Service References/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/DTO" />
  <xs:element name="Insert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="Account" nillable="true" type="q1:DTO_Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="Account" nillable="true" type="q2:DTO_Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RandomID">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RandomIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RandomIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckSignin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sql" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckSigninResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckSigninResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sql" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sql" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="load_Customer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sql" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="load_CustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="load_CustomerResult" nillable="true" type="q3:ArrayOfDTO_Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert_Customer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="_Cus" nillable="true" type="q4:DTO_Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert_CustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Insert_CustomerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_Customer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="_Cus" nillable="true" type="q5:DTO_Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_CustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Delete_CustomerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_Customer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="_Cus" nillable="true" type="q6:DTO_Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_CustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Update_CustomerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RandomID_Customer">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RandomID_CustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RandomID_CustomerResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SMSID">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SMSIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SMSIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSMS">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="sms" nillable="true" type="q7:DTO_SMS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSMSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendSMSResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Load_Schedule">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Load_ScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="Load_ScheduleResult" nillable="true" type="q8:ArrayOfDTO_Schedule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert_Schedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="_sch" nillable="true" type="q9:DTO_Schedule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert_ScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Insert_ScheduleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_Schedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="_sch" nillable="true" type="q10:DTO_Schedule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_ScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Delete_ScheduleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_Schedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="_sch" nillable="true" type="q11:DTO_Schedule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_ScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Update_ScheduleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RandomID_Schedule">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RandomID_ScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RandomID_ScheduleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Load_Group">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sql" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Load_GroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="Load_GroupResult" nillable="true" type="q12:ArrayOfDTO_Group" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert_Group">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="_group" nillable="true" type="q13:DTO_Group" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert_GroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Insert_GroupResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_Group">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="_group" nillable="true" type="q14:DTO_Group" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_GroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Delete_GroupResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_Group">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="_group" nillable="true" type="q15:DTO_Group" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_GroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Update_GroupResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RandomID_Group">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RandomID_GroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RandomID_GroupResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Load_Template">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sql" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Load_TemplateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="Load_TemplateResult" nillable="true" type="q16:ArrayOfDTO_SMS_Template" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert_Template">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="_temp" nillable="true" type="q17:DTO_SMS_Template" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert_TemplateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Insert_TemplateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_Template">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="_temp" nillable="true" type="q18:DTO_SMS_Template" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_TemplateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Delete_TemplateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_Template">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="_temp" nillable="true" type="q19:DTO_SMS_Template" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_TemplateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Update_TemplateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RandomID_Template">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RandomID_TemplateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RandomID_TemplateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>